<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gift.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Site:</strong>
  <%= @gift.site %>
</p>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
